[hidden] {
  display: none !important;
}

a {
  cursor: pointer;
}

.navbar {
  border-radius: 0px;
}

body {
  position: relative;
}

app > .container {
  padding-bottom: 72px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer, footer a {
  color: #3E3F3A;
}

.fa-left {
  margin-right: 8px;
}
.fa-right {
  margin-left: 8px;
}
