{
  "swagger": "2.0",
  "host": "graph.facebook.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/search": {
      "parameters": [],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "search"
        },
        "parameters": [
          {
            "name": "q",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "apigee",
            "description": "The search string"
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "post",
            "description": "Supports these types of objects: All public posts (post), people (user), pages (page), events\n                            (event), groups (group), check-ins (checkin)",
            "enum": [
              "post",
              "user",
              "page",
              "event",
              "group",
              "checkin"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/api"
        },
        "description": "Search over all public objects in the social graph"
      }
    },
    "/{album}": {
      "parameters": [
        {
          "name": "album",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "99394368305",
          "description": "Represents the ID of the album object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getalbum"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "A photo album"
      }
    },
    "/{album}/photos": {
      "parameters": [
        {
          "name": "album",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "99394368305",
          "description": "Represents the ID of the album object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getalbumphotos"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "The photos contained in this album"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postalbumphotos"
        },
        "parameters": [
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Photo description"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "Adds a photo to the album"
      }
    },
    "/{album}/likes": {
      "parameters": [
        {
          "name": "album",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "99394368305",
          "description": "Represents the ID of the album object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getalbumlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "The likes made on this album"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postalbumlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "Likes the album"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletealbumlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "Unlikes the album"
      }
    },
    "/{album}/comments": {
      "parameters": [
        {
          "name": "album",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "99394368305",
          "description": "Represents the ID of the album object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getalbumcomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "The comments made on this album"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postalbumcomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "Posts a comment on the album"
      }
    },
    "/{album}/picture": {
      "parameters": [
        {
          "name": "album",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "99394368305",
          "description": "Represents the ID of the album object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getalbumpicture"
        },
        "parameters": [
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "small",
            "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                            variable height)",
            "enum": [
              "square",
              "small",
              "large"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/album"
        },
        "description": "The album's cover photo; the first picture uploaded to an album becomes the cover photo for the album."
      }
    },
    "/{application}": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplication"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "An application's profile"
      }
    },
    "/{application}/accounts": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationaccounts"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Test User accounts associated with the application."
      }
    },
    "/{application}/accounts/test-users": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationaccounts"
        },
        "parameters": [
          {
            "name": "installed",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Install app for the test user upon creation"
          },
          {
            "name": "permissions",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "List of extended permissions app granted for the new test user if installed is true"
          },
          {
            "name": "name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "A name for the test user. The specified name will also be used in the email address assigned to the test user."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Creates a test account for the application"
      }
    },
    "/{application}/albums": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationalbums"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The photo albums this application has created."
      }
    },
    "/{application}/feed": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationfeed"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The application's wall."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationfeedstatus"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Posts a status message on the application's profile page"
      }
    },
    "/{application}/insights": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationinsights"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Usage metrics for this application"
      }
    },
    "/{application}/links": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationlinks"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The application's posted links."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationlinks"
        },
        "parameters": [
          {
            "name": "link",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Link URL"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Link message"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Posts a link on the application's profile page"
      }
    },
    "/{application}/picture": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationpicture"
        },
        "parameters": [
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "small",
            "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                            variable height)",
            "enum": [
              "square",
              "small",
              "large"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The application's logo"
      }
    },
    "/{application}/posts": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationposts"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The application's own posts."
      }
    },
    "/{application}/reviews": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationreviews"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Reviews of this application"
      }
    },
    "/{application}/staticresources": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationstaticresources"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Usage stats about the canvas application's static resources, such as javascript and CSS, and which ones are being flushed to browsers early."
      }
    },
    "/{application}/statuses": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationstatuses"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The application's status updates"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationstatuses"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Posts a status message on the application's profile page"
      }
    },
    "/{application}/subscriptions": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationsubscriptions"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "All of the subscriptions this application has for real-time notifications."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationsubscriptions"
        },
        "parameters": [
          {
            "name": "object",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Object to monitor - `user`, `permissions`, or `page`.",
            "enum": [
              "user",
              "permissions",
              "page"
            ]
          },
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "List of properties for the `object` to monitor."
          },
          {
            "name": "callback_url",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "A callback URL to which Facebook will post subscription updates."
          },
          {
            "name": "verify_token",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Token sent in the verification request."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Adds a real-time notification subscription for this application."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deleteapplicationsubscriptions"
        },
        "parameters": [
          {
            "name": "object",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Object to monitor - `user`, `permissions`, or `page`. If no object is specified all subscriptions are deleted.",
            "enum": [
              "user",
              "permissions",
              "page"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Deletes a real-time notification subscription for this application."
      }
    },
    "/{application}/tagged": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationtagged"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The photos, videos, and posts in which this application has been tagged."
      }
    },
    "/{application}/translations": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationtranslations"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "The translated strings for this application."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationtranslations"
        },
        "parameters": [
          {
            "name": "native_strings",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "A JSON-encoded array of strings to translate. Each element of the string array is an object, with text storing the actual string, description storing the description of the text."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Uploads translated strings for this application."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deleteapplicationtranslations"
        },
        "parameters": [
          {
            "name": "native_hashes",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "An array of native hashes. The native hash is a unique identifier of the native string and a description and is generated by the Translations application."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Deletes a translation string for this application."
      }
    },
    "/{application}/scores": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getapplicationscores"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Scores for the user and their friends."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deleteapplicationscores"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Deletes all the scores for the application."
      }
    },
    "/{application}/achievements": {
      "parameters": [
        {
          "name": "application",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2439131959",
          "description": "Represents the ID of the application object."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postapplicationachievements"
        },
        "parameters": [
          {
            "name": "achievement",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Unique URL to the achievement."
          },
          {
            "name": "display_order",
            "required": true,
            "in": "query",
            "type": "integer",
            "description": "Order of this achievement as it shows up in the achievement stories UI (low to high). For example a display order of 100 will be displayed in the UI before 200. We use this value to surface achievements according to the order the developer has specified. Please make sure this value is unique and increments in the correct order for your achievements."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Registers an achievement for the application"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deleteapplicationachievements"
        },
        "parameters": [
          {
            "name": "achievement",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Unique URL to the achievement."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/application"
        },
        "description": "Unregisters an achievement for the application"
      }
    },
    "/{checkin}": {
      "parameters": [
        {
          "name": "checkin",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of the checkin object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getcheckin"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "Represents a single visit by a user to a location"
      }
    },
    "/{checkin}/comments": {
      "parameters": [
        {
          "name": "checkin",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of the checkin object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getcheckincomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "All of the comments on this checkin."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postcheckincomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "Posts a comment to this checkin."
      }
    },
    "/{checkin}/likes": {
      "parameters": [
        {
          "name": "checkin",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of the checkin object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getcheckinlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "Users who like this checkin."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postcheckinlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "Likes this checkin."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletecheckinlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/checkin"
        },
        "description": "Unlikes this checkin."
      }
    },
    "/{comment}": {
      "parameters": [
        {
          "name": "comment",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "19292868552_475058873552_14173716",
          "description": "Represents the ID of the comment object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getcomment"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/comment"
        },
        "description": "Returns a comment"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletecomment"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/comment"
        },
        "description": "Deletes a comment"
      }
    },
    "/{comment}/likes": {
      "parameters": [
        {
          "name": "comment",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "19292868552_475058873552_14173716",
          "description": "Represents the ID of the comment object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getcommentlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/comment"
        },
        "description": "All the likes on this comment"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postcommentlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/comment"
        },
        "description": "Likes the comment"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletecommentlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/comment"
        },
        "description": "Unlikes the comment"
      }
    },
    "/{event}": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getevent"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "Specifies information about an event, including the location, event name, and which invitees plan to attend."
      }
    },
    "/{event}/feed": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventfeed"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "This event's wall"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "posteventfeedstatus"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "Posts a status message on this event's wall"
      }
    },
    "/{event}/noreply": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventnoreply"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "All of the users who have been not yet responded to their invitation to this event"
      }
    },
    "/{event}/maybe": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventmaybe"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "All of the users who have been responded \"Maybe\" to their invitation to this event"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "posteventmaybe"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "RSVPs the user as a 'maybe' for the event"
      }
    },
    "/{event}/invited": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventinvited"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "All of the users who have been invited to this event"
      }
    },
    "/{event}/attending": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventattending"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "All of the users who are attending this event"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "posteventattending"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "RSVPs the user as 'attending' for the event"
      }
    },
    "/{event}/declined": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventdeclined"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "All of the users who declined their invitation to this event"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "posteventdeclined"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "RSVPs the user as 'declined' for the event"
      }
    },
    "/{event}/picture": {
      "parameters": [
        {
          "name": "event",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "331218348435",
          "description": "Represents the ID of the event object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "geteventpicture"
        },
        "parameters": [
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "small",
            "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                            variable height)",
            "enum": [
              "square",
              "small",
              "large"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/event"
        },
        "description": "The event's profile picture"
      }
    },
    "/{friendlist}": {
      "parameters": [
        {
          "name": "friendlist",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "",
          "description": "Represents the ID of the FriendList object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getfriendlist"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/friendlist"
        },
        "description": "A Facebook friend list. This object represents the list itself and not the members of the list."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletefriendlist"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/friendlist"
        },
        "description": "Deletes the FriendList."
      }
    },
    "/{friendlist}/members": {
      "parameters": [
        {
          "name": "friendlist",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "",
          "description": "Represents the ID of the FriendList object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getfriendlistmembers"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/friendlist"
        },
        "description": "All of the users who are members of this list."
      }
    },
    "/{friendlist}/members/{user}": {
      "parameters": [
        {
          "name": "friendlist",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "",
          "description": "Represents the ID of the FriendList object."
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "",
          "description": "Represents the ID of the User to add to or remove from the friend list."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postfriendlistmembersuser"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/friendlist"
        },
        "description": "Adds a user to the friend list"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletefriendlistmembersuser"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/friendlist"
        },
        "description": "Removes a user from the friend list"
      }
    },
    "/{group}": {
      "parameters": [
        {
          "name": "group",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2204501798",
          "description": "Represents the ID of the group object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getgroup"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "A Facebook group"
      }
    },
    "/{group}/feed": {
      "parameters": [
        {
          "name": "group",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2204501798",
          "description": "Represents the ID of the group object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getgroupfeed"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "This group's wall"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postgroupfeedstatus"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "Posts a status message on this group's wall"
      }
    },
    "/{group}/members": {
      "parameters": [
        {
          "name": "group",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2204501798",
          "description": "Represents the ID of the group object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getgroupmembers"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "All of the users who are members of this group"
      }
    },
    "/{group}/picture": {
      "parameters": [
        {
          "name": "group",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2204501798",
          "description": "Represents the ID of the group object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getgrouppicture"
        },
        "parameters": [
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "small",
            "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                            variable height)",
            "enum": [
              "square",
              "small",
              "large"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "The profile picture of this group"
      }
    },
    "/{group}/docs": {
      "parameters": [
        {
          "name": "group",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "2204501798",
          "description": "Represents the ID of the group object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getgroupdocs"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/group"
        },
        "description": "The docs in this group"
      }
    },
    "/{link}": {
      "parameters": [
        {
          "name": "link",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "114961875194024",
          "description": "Represents the ID of the link object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getlink"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "A link shared on a user's wall"
      }
    },
    "/{link}/comments": {
      "parameters": [
        {
          "name": "link",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "114961875194024",
          "description": "Represents the ID of the link object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getlinkcomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "All of the comments on this link."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postlinkcomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "Posts a comment to this link."
      }
    },
    "/{link}/likes": {
      "parameters": [
        {
          "name": "link",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "114961875194024",
          "description": "Represents the ID of the link object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getlinklikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "Users who like this link."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postlinklikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "Likes this link."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletelinklikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/link"
        },
        "description": "Unlikes this link."
      }
    },
    "/{note}": {
      "parameters": [
        {
          "name": "note",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the note object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getnote"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "A Facebook note"
      }
    },
    "/{note}/comments": {
      "parameters": [
        {
          "name": "note",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the note object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getnotecomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "All of the comments on this note."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postnotecomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "Posts a comment to this note."
      }
    },
    "/{note}/likes": {
      "parameters": [
        {
          "name": "note",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the note object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getnotelikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "Users who like this note."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postnotelikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "Likes this note."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletenotelikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/note"
        },
        "description": "Unlikes this note."
      }
    },
    "/{page}": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpage"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Returns a Page"
      }
    },
    "/{page}/feed": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagefeed"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "This page's wall"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagefeedstatus"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Posts a status message on this page's wall"
      }
    },
    "/{page}/picture": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagepicture"
        },
        "parameters": [
          {
            "name": "type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "small",
            "description": "One of square (50x50), small (50 pixels wide, variable height), and large (about 200 pixels wide,\n                            variable height)",
            "enum": [
              "square",
              "small",
              "large"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's profile picture"
      }
    },
    "/{page}/settings": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagesettings"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's post permission settings"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagesettings"
        },
        "parameters": [
          {
            "name": "setting",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Which single setting to update: USERS_CAN_POST, USERS_CAN_POST_PHOTOS, USERS_CAN_TAG_PHOTOS, USERS_CAN_POST_VIDEOS",
            "enum": [
              "USERS_CAN_POST",
              "USERS_CAN_POST_PHOTOS",
              "USERS_CAN_TAG_PHOTOS",
              "USERS_CAN_POST_VIDEOS"
            ]
          },
          {
            "name": "value",
            "required": true,
            "in": "query",
            "type": "boolean"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's post permission settings"
      }
    },
    "/{page}/tagged": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagetagged"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The photos, videos, and posts in which this page has been tagged"
      }
    },
    "/{page}/links": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagelinks"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's posted links"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagelinks"
        },
        "parameters": [
          {
            "name": "link",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Link URL"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Link message"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Posts a link on the page"
      }
    },
    "/{page}/photos": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagephotos"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The photos contained on this page"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagephotos"
        },
        "parameters": [
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Photo description"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Adds a photo to the page"
      }
    },
    "/{page}/groups": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagegroups"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The groups this page is a member of"
      }
    },
    "/{page}/albums": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagealbums"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The photo albums this Page has uploaded"
      }
    },
    "/{page}/statuses": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagestatuses"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's status updates"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagestatuses"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Status Message content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Posts a status message on the page"
      }
    },
    "/{page}/videos": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagevideos"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The videos contained on this page"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagevideos"
        },
        "parameters": [
          {
            "name": "title",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Video title"
          },
          {
            "name": "description",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Video description"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Publishes a video to the page"
      }
    },
    "/{page}/notes": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagenotes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The notes contained on this page"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagenotes"
        },
        "parameters": [
          {
            "name": "subject",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The subject of the Note"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Note content"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Creates a note on the page"
      }
    },
    "/{page}/posts": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpageposts"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's own posts"
      }
    },
    "/{page}/events": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpageevents"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The events the Page is attending"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpageevents"
        },
        "parameters": [
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Event name"
          },
          {
            "name": "start_time",
            "required": true,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Event start time"
          },
          {
            "name": "end_time",
            "required": false,
            "in": "query",
            "type": "integer",
            "minimum": -9223372036854776000,
            "maximum": 9223372036854776000,
            "description": "Event end time"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Event description"
          },
          {
            "name": "location",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Event location"
          },
          {
            "name": "privacy_type",
            "required": false,
            "in": "query",
            "type": "string",
            "default": "OPEN",
            "description": "Event privacy setting",
            "enum": [
              "OPEN",
              "CLOSED",
              "SECRET"
            ]
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Creates an event for the page"
      }
    },
    "/{page}/checkins": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagecheckins"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Checkins made to this Place Page by the current user, and friends of the current user"
      }
    },
    "/{page}/tabs": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpagetabs"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "The page's profile tabs"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagetabs"
        },
        "parameters": [
          {
            "name": "app_id",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "ID of the application for which to install the tab"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Installs a profile tab at the end of the current list of installed tabs for the page"
      }
    },
    "/{page}/tabs/{tab}": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        },
        {
          "name": "tab",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of the tab."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpagetabstab"
        },
        "parameters": [
          {
            "name": "position",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "Order in which the tab will appear on the profile. Must be after permanent tabs and less than the number of installed tabs. Index starts at 0"
          },
          {
            "name": "custom_name",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Name to be used for the tab. If this is set to an empty string, the tab will use the application’s default tab name."
          },
          {
            "name": "is_non_connection_landing_tab",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "Set this tab as the default landing tab for users who have not liked and are not admins of the Page. If provided, value must be true."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Updates an installed profile tab for a page"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletepagetabs"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Deletes an installed profile tab (where is_permanent is not true) for a page"
      }
    },
    "/{page}/admins": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpageadmins"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "A list of the Page's admins."
      }
    },
    "/{page}/blocked": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpageblocked"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "A list of the users blocked from the page."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpageblocked"
        },
        "parameters": [
          {
            "name": "uids",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of the user IDs you wish to block"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Blocks a user (or users) from posting content to the page"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletepageblocked"
        },
        "parameters": [
          {
            "name": "uids",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of the user IDs you wish to unblock"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Unblocks a user (or users) for the page"
      }
    },
    "/{page}/blocked/{user}": {
      "parameters": [
        {
          "name": "page",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "platform",
          "description": "Represents the ID of the page object."
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of a user."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpageblockeduser"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/page"
        },
        "description": "Checks if a user is blocked from the page"
      }
    },
    "/{photo}": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getphoto"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "An individual photo"
      }
    },
    "/{photo}/comments": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getphotocomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "All of the comments on this photo."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postphotocomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Posts a comment to this photo."
      }
    },
    "/{photo}/likes": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getphotolikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Users who like this photo."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postphotolikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Likes this photo."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletephotolikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Unlikes this photo."
      }
    },
    "/{photo}/picture": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getphotopicture"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "The album-sized view of the photo"
      }
    },
    "/{photo}/tags": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getphototags"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Tags for this photo."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postphototags"
        },
        "parameters": [
          {
            "name": "to",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "USER_ID of the User to tag; can also be provided in URL path"
          },
          {
            "name": "x",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "x coordinate of tag, as a percentage offset from the left edge of the picture"
          },
          {
            "name": "y",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "y coordinate of tag, as a percentage offset from the top edge of the picture"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Creates a tag on this photo."
      }
    },
    "/{photo}/tags/{user}": {
      "parameters": [
        {
          "name": "photo",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "98423808305",
          "description": "Represents the ID of the photo object."
        },
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "description": "Represents the ID of the user."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postphototagsuser"
        },
        "parameters": [
          {
            "name": "x",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "x coordinate of tag, as a percentage offset from the left edge of the picture"
          },
          {
            "name": "y",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "y coordinate of tag, as a percentage offset from the top edge of the picture"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/photo"
        },
        "description": "Updates the position of a tag on this photo for the user."
      }
    },
    "/{post}": {
      "parameters": [
        {
          "name": "post",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the post object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpost"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "A Facebook post"
      }
    },
    "/{post}/comments": {
      "parameters": [
        {
          "name": "post",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the post object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpostcomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "All of the comments on this post."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpostcomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "Posts a comment to this post."
      }
    },
    "/{post}/likes": {
      "parameters": [
        {
          "name": "post",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the post object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getpostlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "Users who like this post."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postpostlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "Likes this post."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletepostlikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/post"
        },
        "description": "Unlikes this post."
      }
    },
    "/{status}": {
      "parameters": [
        {
          "name": "status",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the status object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getstatus"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "A Facebook status"
      }
    },
    "/{status}/comments": {
      "parameters": [
        {
          "name": "status",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the status object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getstatuscomments"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "All of the comments on this status."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "poststatuscomments"
        },
        "parameters": [
          {
            "name": "message",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Comment text"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "Posts a comment to this status."
      }
    },
    "/{status}/likes": {
      "parameters": [
        {
          "name": "status",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "122788341354",
          "description": "Represents the ID of the status object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getstatuslikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "Users who like this status."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "poststatuslikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "Likes this status."
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deletestatuslikes"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/status"
        },
        "description": "Unlikes this status."
      }
    },
    "/{user}": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuser"
        },
        "parameters": [
          {
            "name": "fields",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "The fields to return"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "A user profile."
      }
    },
    "/{user}/accounts": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuseraccounts"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "The Facebook apps and pages owned by the current user"
      }
    },
    "/{user}/achievements": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postuserachievements"
        },
        "parameters": [
          {
            "name": "achievement",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The unique URL of the achievement which the user achieved."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "Posts an achievement for the user"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "deleteuserachievements"
        },
        "parameters": [
          {
            "name": "achievement",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The unique URL of the achievement you wish to delete."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "Deletes an achievement for the user"
      }
    },
    "/{user}/activities": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuseractivities"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "The activities listed on the user's profile"
      }
    },
    "/{user}/albums": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuseralbums"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "The photo albums this user has created"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postuseralbums"
        },
        "parameters": [
          {
            "name": "name",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Album name"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Album description"
          },
          {
            "name": "privacy",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Privacy settings for the Album. Format: A JSON-encoded object that defines the privacy setting for the album, for example: {\"value\":\"SELF\"}. Only the user can specify the privacy settings for the post."
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "Creates an album for the user"
      }
    },
    "/{user}/apprequests": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuserapprequests"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "The user's outstanding requests from an app."
      }
    },
    "/{user}/books": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getuserbooks"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/reference/api/user"
        },
        "description": "The books listed on the user's profile."
      }
    },
    "/{user}/checkins": {
      "parameters": [
        {
          "name": "user",
          "required": true,
          "in": "path",
          "type": "string",
          "default": "{user}",
          "description": "Represents the ID of the user object."
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "getusercheckins"
        },
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/api#places"
        },
        "description": "The places that the user has checked-into"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful Response"
          },
          "operationId": "postusercheckins"
        },
        "parameters": [
          {
            "name": "place",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "Checkin Place ID; for example 110506962309835 for Facebook HQ"
          },
          {
            "name": "coordinates",
            "required": true,
            "in": "query",
            "type": "string",
            "description": "The user's location, as a string containing latitude and longitude: {\"latitude\":\"...\", \"longitude\": \"...\"}"
          },
          {
            "name": "tags",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of tagged friends' user IDs"
          },
          {
            "name": "message",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Checkin description"
          },
          {
            "name": "link",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Checkin link"
          },
          {
            "name": "picture",
            "required": false,
            "in": "query",
            "type": "string",
            "description": "Checkin picture"
          }
        ],
        "externalDocs": {
          "url": "http://developers.facebook.com/docs/api#places"
        },
        "description": "Checks the user into a place"
      }
[...]
