{
  "basePath": "/",
  "definitions": {
    "comic": {
      "properties": {
        "alt": {
          "type": "string"
        },
        "day": {
          "type": "string"
        },
        "img": {
          "type": "string"
        },
        "link": {
          "type": "string"
        },
        "month": {
          "type": "string"
        },
        "news": {
          "type": "string"
        },
        "num": {
          "type": "number"
        },
        "safe_title": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "year": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "xkcd.com",
  "info": {
    "title": "XKCD",
    "version": "< An API version here >"
  },
  "paths": {
    "/info.0.json": {
      "get": {
        "description": "Fetch current comic and metadata.\n",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/comic"
            }
          }
        }
      }
    },
    "/{comicId}/info.0.json": {
      "get": {
        "description": "Fetch comics and metadata  by comic id.\n",
        "parameters": [
          {
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/comic"
            }
          }
        }
      }
    }
  },
  "schemes": [
    "http"
  ],
  "securityDefinitions": {},
  "swagger": "2.0"
}
